body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./dev_background.jfif");
}
main {
    flex-grow: 1;
}
header{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    border-bottom: green solid 1px;
    
}
#search{
    justify-content: right;
}

.overflow{
    word-wrap: break-word;
}

.cursor{
    cursor: pointer;
}
.tac{
    text-align: center;
}

.likes{
    margin-top: -18px;
}

.category:hover {
    background-color: rgb(92, 184, 92);
    opacity: 0.7;
    }
